* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #171517;
}

/* Pagina News */


@media screen and (min-width:375px) {

  .newsSectionTitle {
    margin: 5%;
    color: rgb(238, 238, 238);
    text-align: center;
    margin: 4%;
    font-size: 48px;
  }

  .newsSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .article {
    background-color: rgb(214, 214, 214);
    width: 90%;
    height: auto;
    margin: 5% 5.5%;
    border-radius: 10%;
  }

  .photoArticle {
    width: 100%;
    object-fit: cover;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
  }

  .article h5 {
    width: 90%;
    font-size: 20px;
    height: auto;
    text-align: center;
    margin-top: 2.5% ;
    padding-left: 10%;
    padding-top: 2.5%;
  }

  .article p {
    margin: 5% auto 7.5% auto;
    text-align: center;
    width: 90%;
  }

  .article a {
    display: block;
    margin: 0 auto 0 auto ;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    margin-bottom: 5%;
    color: aliceblue;
    background-color: #4d1c1a;
    border-radius: 10%;
  }

}

@media screen and (min-width:600px) {

  .newsSection {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .article {
    width: 40%;
    margin: 5% auto;
  }

}

@media screen and (min-width:800px) {

  .newsSection {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .article {
    width: 30%;
    margin: 5% auto;
  }


}

@media screen and (min-width:1250px) {

  .newsSection {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .article {
    width: 20%;
    margin: 5% 2.4%;
  }
}